@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
  }

body{
    background-color: #D9D9D9;
}

.operation_screen-quiz-body{
    background-color: aliceblue;
    width: 80%;
    margin: auto;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

.quiz-title-span{
    text-decoration: none;
    color: black;
    display: block;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.quiz-posted_date-span{
    margin-right: 3%;
    font-size: 0.8rem;
    color: #656565;
    font-weight: bold;
}

li{
    list-style: none;
}

ul{
    padding-left: 0;
}

.quiz-item{
    width: 80%;
    margin: auto;
    margin-bottom: 0.5rem;
    border-left: 1rem solid #7EC1FF;
    padding: 1rem 1rem;
    background-color: #ECECEC;
}

.quiz-item a{
    color: black;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.popularity-quizzes-container, .recentry-quizzes-container{
    margin-bottom: 5rem;
}

h1{
    text-align: left;
    font-size: 2rem;
    padding-top: 2rem;
    margin-bottom: 3.5rem;
}

h2{
    font-size: 1.6rem;
    text-align: center;
    padding-bottom: 2rem;
    margin: 0.5rem;
}

