@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
  }

body{
    background-color: #D9D9D9;
}

.quiz-cliate a{
    text-decoration: none;
    color: black;
    float:left;
    background-color: white;              /* 背景色：白色 */
    font-weight: bold;                    /* 太字 */
    position: relative;
    border-color: rgb(255, 255, 255);                  /* 枠線の色：黒色 */
    border-radius: 0.75em 0.75em 0px 0px; /* 枠線の左上角と右上角だけを丸く */
    padding: 0.75em 1em;
}

.quiz-solved a{
    text-decoration: none;
    color: black;
    padding-left: 1rem;
    background-color: white;              /* 背景色：白色 */
    font-weight: bold;                    /* 太字 */
    position: relative;
    border-color: rgb(255, 255, 255);                  /* 枠線の色：黒色 */
    border-radius: 0.75em 0.75em 0px 0px; /* 枠線の左上角と右上角だけを丸く */
    padding: 0.75em 1em;
}
.tabcontrol a {
    border-color: rgb(255, 255, 255);                  /* 枠線の色：黒色 */
    border-radius: 0.75em 0.75em 0px 0px; /* 枠線の左上角と右上角だけを丸く */
    padding: 0.75em 1em;                  /* 内側の余白 */
    text-decoration: none;                /* リンクの下線を消す */
    color: black;                         /* 文字色：黒色 */
    background-color: white;              /* 背景色：白色 */
    font-weight: bold;                    /* 太字 */
    position: relative;                   /* JavaScriptでz-indexを調整するために必要 */
}

/* ▼タブにマウスポインタが載った際（任意） */
#tabcontrol a:hover {
    text-decoration: underline;   /* リンクの下線を引く */
}


.operation_screen-quiz-body{
    background-color: aliceblue;
    width: 80%;
    margin: auto;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

.quiz-title-span{
    text-decoration: none;
    color: black;
    display: block;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.quiz-posted_date-span{
    margin-right: 3%;
    font-size: 0.8rem;
    color: #656565;
    font-weight: bold;
}

li{
    list-style: none;
}

ul{
    padding-left: 0;
}

.quiz-item{
    width: 80%;
    margin: auto;
    margin-bottom: 0.5rem;
    border-left: 1rem solid #7EC1FF;
    padding: 1rem 1rem;
    background-color: #ECECEC;
}

.quiz-item a{
    color: black;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.popularity-quizzes-container, .recentry-quizzes-container{
    margin-bottom: 5rem;
}

h1{
    text-align: left;
    font-size: 2rem;
    padding-top: 2rem;
    margin-bottom: 3.5rem;
}

h2{
    font-size: 1.6rem;
    text-align: center;
    padding-bottom: 2rem;
    margin: 0.5rem;
}

