<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/Thinker/assets/stylesheets/common.css">
</head>
<header>
    <div class="header-container">
        <div class="header-links-container">
            <img class="header-logo" src="/Thinker/assets/images/logo-dark.png">
            <a class="header-link" href="#">ホーム</a>
            <a class="header-link" href="#">作成</a>
        </div>

        <!-- プロフィール画像を丸く表示 -->
        <div class="header-icon-container">
            <a class="header-link" href="#">
                <img src="/Thinker/assets/images/default-icon.png">
            </a>
        </div>
    </div>
</header>
</html>
