<header>
    <div class="header-container">
        <div class="header-links-container">
            <img class="header-logo" src="/php/header/images/logo-dark.png">
            <a class="header-link" href="#">ホーム</a>
            <a class="header-link" href="#">作成</a>
        </div>

        <!-- プロフィール画像を丸く表示 -->
        <div class="header-icon-container">
            <a class="header-link" href="#">
                <img src="/php/header/images/default-icon.png">
            </a>
        </div>
    </div>
</header>
