/* ヘッダー */
header{
    margin-bottom: 3rem;
}
.header-container {
    height: 4rem;
    background-color: white;
    display: flex;
    padding: 0 2rem;
}
.header-links-container {
    height: 80%;
    display: flex;
    align-items: flex-end;
}
.header-links {
    display: flex;
    height: 100%;
    align-items: center;
}
.header-link {
    margin: 0 2rem;
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
}
.header-logo {
    height: 80%;
}
.header-icon-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    height: 100%;
}
.header-icon-container a {
    margin-top: 2rem;
    display: flex;
    height: 100%;
}
.header-link img {
    height: 60%;
    border-radius: 50%;
}