@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
  }

body {
  background-color: #D9D9D9;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin: 3rem;
}

.all{
    background-color: aliceblue;
}

.form-label{
    font-size: 1rem;
    padding-left: 8rem;
    
}
    

.form-input{
    text-align: justify;
    text-justify: auto;
    font-size: 1rem;
    display: block;
    margin: auto;
    width: 24rem;
    margin-bottom: 3rem;
    border-radius: 5px;
}

.button-input{
    display: block;
	margin: auto;
    color: #FFF;
    background: #4877AF;
    border: none;
    font-size: 1rem;
    margin-bottom:2rem;
    border-radius: 5px;
    padding: 1rem 3rem;
    text-align: center;
}

hr{
   margin: 3rem;
   text-align: center; 
   
}



