@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Verdane', 'Hiragino Sans', 'Meiryo', sans-serif;
  font-size: 18px;
  text-align: center;
  background: #D9D9D9;
}

.content-container {
  background-color: #F0F8FF;
  width: 80%;
  margin: auto;
}

.operation_screen-quiz-body {
  padding: 3rem;

}

h1 {
  font-size: 25px;
  margin: 20px auto;
  width: 300px;
  text-align: center;
  padding: 1rem;


}

.text {
  text-align: left;
  margin-bottom: 70px;
}

.choice-button {
  width: 100%;
  text-align: left;
  background: #C0E1FF;
  border-radius: 10px;
  padding-left: 10px;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  border: 0;
}